/* products */

.products {
    padding-block: 60px;
}

.products__title {
    margin-bottom: 6px;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: var(--dark);
}

.products__descr {
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center;
    color: var(--gray);
}

.products__wrapper {
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 1200px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 640px) {
        grid-template-columns: 1fr;
    }
}

.products__item {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

.products__img {
    width: 100%;
}

.products__item-wrapper {
    padding: 24px 28px 20px 16px;
    display: flex;
    flex-direction: column;
}

.pruducts__name {
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    color: var(--black);
}

.products__text {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: var(--gray);
}

.products__price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--red);
}

.products__buttons {
    display: flex;
    justify-content: center;
}

.products__btn {
    padding: 15px 39px;
    border: 1px solid var(--red);
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    color: var(--red);
    background-color: var(--white);
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: var(--red);
        color: #fff;
    }
}