:root {
  --black: #000;
  --white: #fff;
  --shadow: 6px 4px 35px 0px #00000036;
  --dark: #222;
  --red: #f16d7f;
  --gray: #6f6e6e;
  --transition: all 0.3s ease;
  --bg: #F7F7F7;
  --light: #fbfbfb;

  --background: #f9f9f9;
  --red-hover: #812425;
}