/* subscribe */

.subscribe {
    position: relative;
    padding-top: 97px;
    padding-bottom: 126px;
    background-image: url("../../assets/img/subscribe/subscribe.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f4f4f4b2;
    }
}

.subscribe__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 1;


    @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

.subscribe__left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.subscribe__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--dark);
    max-width: 360px;
}

.subscribe__right {
    display: flex;
    flex-direction: column;
}

.subscribe__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.subscribe__info {
    margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;

    @media (max-width: 460px) {
        width: 100%;
    }
}

.subscribe__form {
    display: flex;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    width: 356px;
    height: 49px;

    @media (max-width: 460px) {
        font-size: 14px;
    }
}

.subscribe__input {
    padding-left: 22px;
    padding-block: 7px;
    display: flex;
    height: 100%;
    background-color: var(--bg);
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    border: none;
    outline: none;
    flex: 1;
}

.subscribe__btn {
    display: flex;
    justify-content: center;
    border: 1px solid var(--red);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100px;
    height: 100%;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: var(--red);
    color: var(--white);
    outline: none;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: transparent;
        color: var(--red);
    }
}