/* header */

.header {
    padding: 20px 0;
    background-color: var(--dark);
    position: relative;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__left {
    display: flex;
    align-items: center;
    gap: 41px;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 33px;
}

.header__menu {
    max-width: 232px;
    padding: 32px;
    background-color: var(--white);
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 78px;
    right: 0;
    z-index: 3;
}


.header__menuTitle {
    font-size: 14px;
    font-weight: 700;
    line-height: 16.8px;
    text-align: left;
}

.header__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.header__item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header__menuSubtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: var(--red);
}

.header__sublist {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 0;
    padding-left: 21px;
}

.header__subitem {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    color: var(--gray);
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
        color: var(--red);
    }
}

.header__btn {
    >svg {
        fill: #E8E8E8;
        transition: fill 0.3s ease-in-out;

    }

    &:hover {
        >svg {
            fill: var(--red)
        }
    }
}

@media (max-width: 640px) {
    .header__btn:nth-last-child(-n + 2) {
        display: none;
    }
}