/* feature */

.feature {
    background-color: var(--dark);
    padding-block: 104px;
}

.feature__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.feature__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 768px) {
        max-width: 50%;
    }

    @media (max-width: 460px) {
        max-width: 100%;
    }
}

.feature__title {
    margin-top: 28px;
    margin-bottom: 16px;
    font-size: 20px;
    color: var(--light);
}

.feature__text {
    font-size: 14px;
    color: var(--light);
    font-weight: 300;
    text-align: center;
    margin-top: auto;
}